<div class="alert alert-info" role="alert">Tela de Doações</div>

<p>
  <%= link_to "Cadastrar Instituição", instituicoes_path, class: "btn btn-default" %>
</p>

<p>
  <%= link_to "Cadastrar Alimento", alimentos_path, class: "btn btn-default" %>
</p>

<p>
  <%= link_to "Doar", "#", class: "btn btn-success" %>
</p>